<h1>Portfolio</h1>
<div class="slideshow-container">
  <div class="container">
    <% var i = 0; portfolios.forEach((portfolio) => { i++ %>
    <div class="mySlides fade">
      <div class="slider">
        <a href="<%=portfolio.websiteURL%>">
          <div class="desktop">
            <!-- The first three videos are mobile, so we show the image in the desktop -->
            <% if (portfolio.id < 4) {%>
            <img src="<%=portfolio.desktopURL%>" alt="<%=portfolio.title%>" />
            <% } else{%>
            <video muted>
              <source src="<%=portfolio.videoURL%>" type="video/webm" />
              Can't play this video
            </video>
            <% }%>
          </div>
          <div class="mobile">
            <% if (portfolio.id < 4) {%>
            <video muted>
              <source src="<%=portfolio.videoURL%>" type="video/webm" />
              Can't play this video
            </video>
            <% } else{%>

            <img src="<%=portfolio.mobileURL%>" alt="<%=portfolio.title%>" />

            <% }%>
          </div>
        </a>
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
      </div>
      <a href="<%=portfolio.websiteURL%>" class="websiteTitle"
        ><h3><%=portfolio.title%></h3></a
      >
    </div>
    <%}); %>
    <!-- Next and previous buttons -->
  </div>
</div>
