<html lang="en-us">
  <head>
    <%- include("../partials/head.ejs") %>
  </head>
  <body>
    <header>
      <%- include("../partials/header.ejs") %>
    </header>
    <main>
      <button class="btn" id="theme">Halloween!</button>
      <a href="" class="btn" id="scrollTop"
      ><i class="fas fa-arrow-alt-circle-up fa-2x"></i
      ></a>
      <section id="homepage">
        <%- include("../partials/hero.ejs") %>
      </section>
      <section id="portfolio">
        <%- include("../partials/portfolio.ejs") %>
      </section>
      <section id="about">
        <%- include("../partials/about.ejs") %>
      </section>
      <section id="contact">
        <%- include("../partials/contact.ejs") %>
      </section>
    </main>
    <footer>
      <%- include("../partials/footer.ejs") %>
    </footer>
    <script src="/app.js"></script>
    <script
      src="https://kit.fontawesome.com/6751b3949e.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
